@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.not-found {
  height: 100%;
  margin: 200px auto;
  width: 80%;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin: -30px 0 10px;
  }
  p {
    text-align: center;
    font-size: 1.6rem;

    a {
      text-decoration: underline;
    }
  }
}
