.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.link {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  text-transform: capitalize;
  color: white;
}

.active {
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 20px;
}
